# Copy this file to .env.local and fill in your values
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
FIREBASE_SERVICE_ACCOUNT=
PAYU_KEY=
PAYU_SALT=
NEXT_PUBLIC_PAYU_URL=https://secure.payu.in/_payment
GAS_URL=
NEXT_PUBLIC_STORE_URL=https://minella.in
